header {
  background-color: rgb(42, 42, 130);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  padding: 0.3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 1;
}

h1:hover {
  color: hotpink;
}
