header {
  background-color: rgb(42, 42, 130);
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 10;
}

header h1 {
  font-size: 3rem;
}
h1:hover {
  color: hotpink;
}
