<article class="Card">
  <h4 class="Card__title">QUESTION:</h4>
  <p class="Card__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo eum ea
    totam! Iure obcaecati odit soluta sint quidem similique, ipsam debitis nihil
    sit iusto, cum aliquid neque placeat quibusdam.
  </p>
  <button>SHOW ANSWER</button>
  <div class="tags">
    <div class="tag1">#animal</div>
    <div class="tag2">#nature</div>
    <div class="tag3">#africa</div>
    <div class="tag4">#wildlife</div>
  </div>
</article>
