.Card {
  background-color: var(--bg-color-bright);
  /* border: 3px solid var(--color-bright); */

  border-radius: 5px;
  border-top-right-radius: 25px;
  padding: 1rem;
  margin: 5rem 0;
  height: 35rem;
  color: blue;
  width: 768px;
  max-width: 768px;
  position: relative;
  box-shadow: 0 0 5px 5px var(--color-bright);
}

.Card_bookmark {
  position: absolute;
  background: lightblue;
  width: 75px;
  height: 75px;
  top: 0;
  right: 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 100%;
  background-color: gold;
  overflow: hidden;
}

.Card_content {
  position: absolute;
  border: 3px solid var(--color-bright);
  border-radius: 5px;
  height: 80%;
  width: 48rem;
  max-width: 90%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto 2fr 2rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px 2px var(--bg-color-dark);
}

.Card_title {
  color: var(--color-h1-dark);
  margin: 0.3rem;
  font-size: 2rem;
  font-family: 'Special Elite', sans-serif;
}

.Card_question {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  align-self: center;
}

.Card_button {
  background-color: darkblue;
  color: white;
  width: 10rem;
  height: 2rem;
  margin: 1rem;
  border: 2px solid var(--color-bright);
  box-shadow: 0 0 3px 1px var(--color-bright);
  letter-spacing: 0.05rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Card_button:hover {
  color: darkblue;
  background-color: white;
  border: 2px solid var(--color-dark);
  box-shadow: 0 0 3px 1px var(--color-dark);
}

.Card_answer {
  display: none;
}

.Card_answer-show {
  display: inline;
  color: white;
  font-size: 2rem;
  width: 100%;
}

.Card_tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  /* justify-items: center; */
  gap: 1rem;
}

form * {
  display: block;
}

form label + input {
  width: 20vw;
}

form {
  width: 40rem;
}

fieldset {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  box-shadow: 0 0 5px 2px var(--bg-color-dark);
  border: 3px solid var(--color-bright);
}

fieldset textarea {
  resize: none;
  box-shadow: 0 0 3px 1px var(--color-dark);
}

fieldset > #tags-input {
  box-shadow: 0 0 3px 1px var(--color-dark);
}

fieldset label {
  margin: 0.3rem;
}

fieldset > div {
  display: flex;
  flex-direction: column;
}

fieldset > div > label {
  display: flex;
  align-self: center;
}

.Textarea_count {
  margin: 0.3rem 0;
}

fieldset button {
  background-color: var(--bg-color-dark);
  color: var(--color-bright);
  margin: 0.5rem;
}
