.Card {
  background-color: var(--bg-color-bright);
  border-color: 3px solid var(--color-bright);
  border-radius: 5px;
  border-top-right-radius: 25px;
  padding: 2px;
  margin: 1rem;
  color: blue;
  max-width: 1100px;
}

.Card_content {
  position: relative;
  height: 20rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 2rem;
  /* background-color: orange; */
  margin: 0.3rem;
}

.Card_title {
  color: var(--color-h1-dark);
  margin: 0.3rem;
}

.Card_bookmark {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 3rem;
}
.Card_show {
  background-color: darkblue;
  color: white;
  width: 10rem;
  height: 2rem;
}
.Card_show:hover {
  color: darkblue;
  background-color: white;
}
.Card_tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  /* justify-items: center; */
  gap: 1rem;
}
